{{template "header" .}}
<div>
    <h1>FAQ Page</h1>
    <ul>
        {{range .}}
            {{template "qa" .}}
        {{end}}
    </ul>
</div>
{{template "footer" .}}
{{define "qa"}}
    <li><b>{{.Question}}</b> {{.Answer}}</li>
{{end}}
