{{define "header"}}
    <html>
    <body>
{{end}}

{{define "footer"}}
    <p>Copyright Nik Aleks 2023</p>
    <!-- NOTE: This body & html tags are not opened in this named template -->
    </body>
    </html>
{{end}}